.commit-viewer__navigation{
	border-bottom: 1px solid $primary-color;
	margin-bottom: 16px;

	.btn{
		border: none;
		background: none;
		box-shadow: none;
		color: #000;

		&:active{
			background: none;
			text-shadow: none;
		}

		a{
			padding: 0 10px 6px 10px;

			&:hover{
				text-decoration: none;
			}

			&:active{
				background: none;
			}

			&.selected{
				border-bottom: 4px solid $secondary-color;
				text-decoration: none;
				font-weight: 700;
			}
		}
	}
}